/* for mobile device  */
@media screen and (max-width:576px) {

    /* common styles  */


    .pink{
        color:#FF42A5;
        font-size: 40px;
    }
    .btn{
        padding:10px 20px;
        font-size: 16px;
    }


    /* nav section  */
    
    .nav-container{
        flex-direction: column;
        
        
    }


    .nav-logo{
        margin-bottom:60px;
        width:100%;
        justify-content: center;
    }


    .logo{
        width:80px;
        padding-right:10px;
        object-fit: contain;
    }


    .logo-name{
        font-size: 35px;
        font-weight: 700;
    }

    
    .nav-menu{
        flex-direction: column;
        width: 100%;
    }


    .nav-icon{
        width:200px;
        font-size: 14px;
        padding:15px 15px;
        gap:15px;
    }


    .nav-icon img{
        width:25px;
    }


    /* banner section  */
     .banner{
         background-position: bottom right;
     }


    .banner-container{
        flex-direction: column-reverse;
        gap:100px;
    }
    

    .banner-content{
        width: max-content;
        margin: auto;

    }


    .banner-title{
        font-size: 25px;
    }

    .banner-desc{ 
        font-size: 14px;
        margin-bottom:10px;
    }
    .goat{
        font-size: 50px;
        margin-bottom:40px;
    }


    .banner-description{
       width:max-content;
       margin: auto;
    }

    .banner-btn{
        justify-content: center;
        margin-bottom:20px;
        margin-top:20px;
    }
    .banner-img{
        width: 100%;
    }
    
}

/* For tablet device  */
@media screen and (min-width:576px) and (max-width:768px) {
    .nav-container{
        flex-direction: column;
        
        
    }
    .nav-logo{
        margin-bottom:60px;
        width:100%;
        justify-content: center;
    }
    .nav-menu{
        width: 100%;
        justify-content: center;

    }
    
    /* banner section  */
     .banner{
         background-position: bottom center;
     }


    .banner-container{
        flex-direction: column-reverse;
        gap:250px;
    }
    

    .banner-content{
        width: 100%;
        text-align: center;
    }


    .banner-title{
        font-size: 45px;
    }


    .goat{
        font-size: 92px;
    }


    .banner-description{
       width:max-content;
       margin: auto;
    }

    .banner-btn{
        justify-content: center;
    }
    .banner-img{
        width: 100%;
    }
}
/* For small laptop  */
@media screen and (min-width:768px) and (max-width:1024px) {
    .nav-container{
        flex-direction: column;
        
        
    }

    
    .nav-logo{
        margin-bottom:60px;
        width:100%;
        justify-content: center;
    }


    .nav-menu{
        width: 100%;
        justify-content: center;

    }


     /* banner section  */
     .banner{
         background-position: bottom left;
     }


    .banner-container{
        gap:20px;
    }
    

    .banner-content{
        width: 100%;
        text-align: center;
    }


    .banner-title{
        font-size: 45px;
    }


    .goat{
        font-size: 92px;
        margin-bottom:30px;
    }


    .banner-description{
       width:max-content;
       margin: auto;
    }

    .banner-btn{
        justify-content: center;
    }


    .banner-img{
        width: 100%;
    }
}